<div class="auth-page">
  <div class="auth-page-card">
    <div class="auth-logo">
      <img
        style="margin-bottom: 20px"
        src="../../../../../assets/logo-icon.png"
        alt=""
      />
      <h4 nz-typography>Admin Register</h4>
    </div>
    <form
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Phone Number!">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="phoneNumber"
              placeholder="+8801"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12"></div>
      </div>
      <button
        [disabled]="validateForm.status === 'INVALID'"
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
      >
        Register
      </button>
      Or
      <a [routerLink]="[routesConstant.adminLogin]"> Log in! </a>
    </form>
  </div>
</div>
