<nz-page-header nzBackIcon [nzGhost]="false">
  <nz-page-header-title>Departments</nz-page-header-title>
  <nz-page-header-extra>
    <nz-input-group nzSize="large" nzSearch [nzAddOnAfter]="suffixIconButton">
      <input
        type="text"
        (keyup)="onChangeSearch($event)"
        nz-input
        placeholder="Search..."
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch>Search</button>
    </ng-template>
  </nz-page-header-extra>
</nz-page-header>
<ng-container>
  <button
    (click)="isOpenCreateDepartmentPopup = true"
    nz-button
    nzType="primary"
    style="margin-bottom: 15px"
  >
    <i nz-icon nzType="edit" nzTheme="outline"></i>Create
  </button>
  <nz-table
    #basicTable
    [nzData]="departments.data"
    [nzBordered]="true"
    [nzFrontPagination]="false"
    nzShowPagination
    [nzTotal]="departments?.total"
    [nzPageSize]="departments?.take"
    [nzLoading]="loading"
    (nzPageIndexChange)="onChangePage($event)"
  >
    <thead>
      <tr>
        <th style="width: 60px">Image</th>
        <th>Name</th>
        <th style="text-align: right">CreatedAt</th>
        <th style="text-align: right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td><img style="height: 45px" [src]="data.image || 'N/A'" alt="" /></td>
        <td>{{ data.name }}</td>
        <td style="text-align: right; width: 200px">
          {{ data.createdAt | date }}
        </td>
        <td style="text-align: right; width: 200px">
          <!-- Update Department -->
          <app-update-department
            (onUpdated)="updateDataSuccess($event)"
            [data]="data"
          >
          </app-update-department>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this?"
            nzPopconfirmPlacement="top"
            (nzOnConfirm)="onDeleteDepartment(data.id)"
          >
            <button nz-button nzType="danger" nzShape="circle">
              <i nz-icon nzType="delete" nzTheme="outline"></i></button
          ></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>

<!-- Create Department -->
<app-create-department
  [isOpen]="isOpenCreateDepartmentPopup"
  (onClose)="onCloseCreatePopup()"
  (onCreateSuccess)="onCreateSuccess($event)"
></app-create-department>
