<div class="user-profile-page-wrapper">
  <div class="app-page-header">
    <nz-page-header nzBackIcon [nzGhost]="false">
      <nz-page-header-title>User Profile</nz-page-header-title>
      <nz-page-header-extra>
        <a [routerLink]="[routesConstant.userProfileUpdate]">
          <button nz-button nzType="default">
            <i nz-icon nzType="edit" nzTheme="outline"></i>Update
          </button></a
        >
      </nz-page-header-extra>
    </nz-page-header>
  </div>
  <ng-container>
    <nz-descriptions [nzColumn]="1" nzTitle="Personal">
      <nz-descriptions-item nzTitle="First Name">
        {{ userInfo.firstName }}</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Last Name" [nzSpan]="1">{{
        userInfo.lastName
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Phone Number" [nzSpan]="1">
        {{ userInfo.phoneNumber }}</nz-descriptions-item
      >
      <nz-descriptions-item nzTitle="Gender" [nzSpan]="1">
        {{ userInfo.gender }}</nz-descriptions-item
      >
    </nz-descriptions>
    <nz-divider></nz-divider>
    <nz-descriptions [nzColumn]="1" nzTitle="Address">
      <nz-descriptions-item nzTitle="Country" [nzSpan]="1">{{
        userInfo?.country
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="City" [nzSpan]="1">{{
        userInfo?.city
      }}</nz-descriptions-item>
    </nz-descriptions>
    <nz-divider></nz-divider>
    <nz-descriptions [nzColumn]="1" nzTitle="Contacts">
      <nz-descriptions-item nzTitle="Email" [nzSpan]="1">{{
        userInfo.email
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Phone Number" [nzSpan]="1">{{
        userInfo.phoneNumber
      }}</nz-descriptions-item>
    </nz-descriptions>
  </ng-container>
</div>
