<!-- Create Department -->
<nz-modal
  [(nzVisible)]="isOpen"
  (nzOnCancel)="onClose.emit()"
  (nzOnOk)="onSubmitCreate()"
  nzTitle="Create Banner"
>
  <ng-container *nzModalContent>
    <form [formGroup]="bannerForm">
      <nz-upload
        [nzAction]="imageUploadEndPoint"
        nzName="image"
        nzListType="picture-card"
        [nzShowUploadList]="false"
        (nzChange)="onChangeImageUpload($event)"
      >
        <ng-container *ngIf="!imageUrl">
          <i
            class="upload-icon"
            nz-icon
            [nzType]="imageUploadLoading ? 'loading' : 'plus'"
          ></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="imageUrl" [src]="imageUrl" style="width: 100%" />
      </nz-upload>
      <label>Title</label>
      <input type="text" formControlName="title" nz-input placeholder="Title" />

      <label>URL</label>
      <input type="text" formControlName="url" nz-input placeholder="url" />
      <label>Type</label>

      <nz-select
        style="width: 100%"
        nzShowSearch
        nzAllowClear
        formControlName="type"
        nzPlaceHolder="Select a Type"
      >
        <nz-option
          nzLabel="SLIDER_CAMPAIGN"
          nzValue="SLIDER_CAMPAIGN"
        ></nz-option>
        <nz-option
          nzLabel="SLIDER_HOMEPAGE"
          nzValue="SLIDER_HOMEPAGE"
        ></nz-option>
        <nz-option nzLabel="TWO_FIRST" nzValue="TWO_FIRST"></nz-option>
        <nz-option nzLabel="TWO_LAST" nzValue="TWO_LAST"></nz-option>
        <nz-option nzLabel="THREE_FIRST" nzValue="THREE_FIRST"></nz-option>
        <nz-option nzLabel="THREE_MIDDLE" nzValue="THREE_MIDDLE"></nz-option>
        <nz-option nzLabel="THREE_LAST" nzValue="THREE_LAST"></nz-option>
        <nz-option nzLabel="POPUP_BANNER" nzValue="POPUP_BANNER"></nz-option>
        <nz-option
          nzLabel="SHOP_BY_BANNER_SIDEBAR"
          nzValue="SHOP_BY_BANNER_SIDEBAR"
        ></nz-option>
        <nz-option nzLabel="FULL_BANNER" nzValue="FULL_BANNER"></nz-option>
      </nz-select>
      <ul class="attribute-checkbox-lists">
        <li>
          <label formControlName="isFeatured" nz-checkbox>isFeatured</label>
        </li>
        <li><label formControlName="isActive" nz-checkbox>isActive</label></li>
        <li>
          <label formControlName="isPopular" nz-checkbox>isPopular</label>
        </li>
        <li><label formControlName="isHot" nz-checkbox>isHot</label></li>
        <li><label formControlName="isNew" nz-checkbox>isNew</label></li>
      </ul>
    </form>
  </ng-container>
</nz-modal>
