/* You can add global styles to this file, and also import other style files */

.ant-page-header {
  padding: 0;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.153);
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: #2b282897;
  border: 2px solid #555555;
}
label {
  font-size: 14px;
  padding: 5px 0;
  display: block;
}
.attribute-checkbox-lists {
  list-style: none;
  padding: 15px 0 !important;
}

.attribute-checkbox-lists li {
  margin: 5px 0;
}
